* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-image: url(bordes.jpg);
}
header {
    background-color: rgba(182, 34, 34, 0.74);
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
    animation-name: header;
    animation-duration: 0,5s;
}
header:hover {
    color: white;
}
.logoheader img {
    margin-right: 100%;
}
@keyframes header {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1.0);
    }
}



.slider-container-fluid {
    margin-bottom: 50px;
}


.sections-container-fluid {
    margin-bottom: 50px;
    margin-top: 50px;
    text-decoration: none;
    color: black;
}
.sections-container-fluid .col-b1 :hover{
    background-color: rgba(196, 19, 19, 0.877);
    color: white;
}
.sections-container-fluid .col-b2 :hover{
    background-color: rgba(196, 19, 19, 0.678);
    color: white;
}
.sections-container-fluid .col-b3 :hover{
    background-color: rgba(196, 19, 19, 0.603);
    color: white;
}
.sections-container-fluid .col-b4 :hover{
    background-color: rgba(196, 19, 19, 0.582);
    color: white;
}
.sections-container-fluid .col-b5 :hover{
    background-color: rgba(196, 19, 19, 0.479);
    color: white;
}
.sections-container-fluid .col-b6 :hover{
    background-color: rgba(196, 19, 19, 0.404);
    color: white;
}

/*CURSOS*/
.cursos {
    display: flex;
    background-color: red;
}

/*MERCH*/
.col-A {
    overflow: hidden;
}
.card-img {
    transition-property: all;
    transition: 1s;
    overflow: hidden;
}	
.card-img:hover {
    transform: scale(110%); 
    transition: 1s;
}
.container h1 {
    animation-name: txtentrevista;
    animation-delay: 0s;
    animation-duration: 5s;
}


/*ENTREVISTAS*/	
.entrevistas {
    margin-bottom: 50px;
    margin-top: 30px;
}
.col-e:hover {
    transform: scale(1.05);
}
.txt .container{
    font-size: 170%;
    animation-name: txtentrevista;
    animation-delay: 0s;
    animation-duration: 5s;
}

@keyframes txtentrevista {
    0% {
        opacity: 0%;
        transform: scale(0.0);
    }
    100% {
        opacity: 100%;
        transform: scale(1.02);
    }
    
}

/*CONTACTO*/	
.form1 {
    background-color: rgba(255, 255, 255, 0.596);
    margin-bottom: 70px;
}
    .col-13 .btn-primary:hover {
        background-color: white;
        color: blue;
    }



/*FOOTER*/	
footer {
    background-color: rgba(182, 34, 34, 0.644);
    text-align: center;
}
