* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-image: url(bordes.jpg);
}
header {
    background-color: rgba(182, 34, 34, 0.74);
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
    animation-name: header;
    animation-duration: 0,5s;
}
header a:hover {
    color: white;
}
.logoheader img {
    margin-right: 100%;
}
@keyframes header {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1.0);
    }
}

.slider-container-fluid {
    margin-bottom: 50px;
}

.sections-container-fluid {
    margin-bottom: 50px;
    margin-top: 50px;
}
.sections-container-fluid .col-b1 :hover{
    background-color: rgba(196, 19, 19, 0.877);
    color: white;
}
.sections-container-fluid .col-b2 :hover{
    background-color: rgba(196, 19, 19, 0.678);
    color: white;
}
.sections-container-fluid .col-b3 :hover{
    background-color: rgba(196, 19, 19, 0.603);
    color: white;
}
.sections-container-fluid .col-b4 :hover{
    background-color: rgba(196, 19, 19, 0.582);
    color: white;
}
.sections-container-fluid .col-b5 :hover{
    background-color: rgba(196, 19, 19, 0.479);
    color: white;
}
.sections-container-fluid .col-b6 :hover{
    background-color: rgba(196, 19, 19, 0.404);
    color: white;
}

.sections-container-fluid .links {
    text-decoration: none;
    color: rgb(201, 0, 0);
}

.ebook-container .img {
    margin-bottom: 20px;
    padding: 60px;
    padding-top: 0;
}


/*CURSOS*/
.cursos {
    margin-bottom: 50px;
    margin-top: 20px;
}

.cursos:hover {
    box-shadow: red;
}

.rounded-start{
    width: 100%;
    margin-top: 30%;
}

.container .flor {
    animation-name: cursoflor;
    animation-duration: 3s;
}

.container .flor:hover {
    transform: translateX(-30%);
    transition-duration: 3s;
}

@keyframes cursoflor {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/*MERCH*/
.col-A {
    overflow: hidden;
}
.card-img {
    transition-property: all;
    transition: 1s;
    overflow: hidden;
}	
.card-img:hover {
    transform: scale(110%); 
    transition: 1s;
}
.container h1 {
    animation-name: txtentrevista;
    animation-delay: 0s;
    animation-duration: 5s;
}
.card-body .btn-primary:hover {
    background-color: white;
    color: blue;
    animation-name: boton;
    animation-duration: 1s;
}

@keyframes boton {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.06);
    }
    
}


/*VER MAS*/
.container .contene{
    background-color: rgba(255, 255, 255, 0.514);
    padding-left: 60px;
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 50px;
}
.card-body-A {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    text-align: center;
}
.card-body-A .btn-primary {
    width: 85%;
}

.card-body-A .btn-primary:hover {
    background-color: white;
    color: blue;
    animation-name: boton;
    animation-duration: 1s;
}


/*ENTREVISTAS*/	
.entrevistas {
    margin-bottom: 50px;
    margin-top: 30px;
}
.col-e .links{
    text-decoration: none;
    color: black;
}
.col-e .links:hover {
    color: rgb(201, 0, 0);
    
}

.col-e:hover {
    transform: scale(1.05);
}

.txt .container{
    font-size: 170%;
    animation-name: txtentrevista;
    animation-delay: 0s;
    animation-duration: 5s;
}

@keyframes txtentrevista {
    0% {
        opacity: 0%;
        transform: scale(0.0);
    }
    100% {
        opacity: 100%;
        transform: scale(1.02);
    }
    
}

/*CONTACTO*/	
.form1 {
    background-color: rgba(255, 255, 255, 0.596);
    margin-bottom: 70px;
}
    .col-13 .btn-primary:hover {
        background-color: white;
        color: blue;
    }



/*FOOTER*/	
footer {
    background-color: rgba(182, 34, 34, 0.644);
    text-align: center;
}
