* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bordes.jpg)
}
header {
    background-color: rgba(182, 34, 34, 0.644);
    width: 100%;
}


.container .row .col-4{
    background-color: rgba(255, 255, 255, 0.637);
}

.container .row .col-4 .img-fluid {
    width: 40%;
}

footer {
    background-color: rgba(182, 34, 34, 0.644);
}