* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bordes.jpg)
}
header {
    background-color: rgba(182, 34, 34, 0.644);
    width: 100%;
}


footer {
    background-color: rgba(182, 34, 34, 0.644);
}